.LaunchProfile {
    height: 100vh;
    max-height: 100%;
    width: calc(100vw - 500px);
    overflow: hidden auto;
    padding-left: 30px;
    padding-right: 20px;
    background-color: lightgray;
    font-family: "Trebuchet MS", Helvetica, sans-serif
  }

  .LaunchProfile__status {
    margin-top: 40px;
    margin-bottom: 10px;
  }

  .LaunchProfile__title {
    margin-top: 0;
    margin-bottom: 4px;
  }

  .LaunchProfile__success {
    color: #2cb84b;
  }

  .LaunchProfile__failed {
    color: #ff695e;
  }

  .LaunchProfile__image-list {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 40px;
    padding-bottom: 100px;
  }

  .LaunchProfile__image {
    width: 100%;
  }

  .patch {
      height: 100px;
      margin-left: 290px;
  }

  .ProfileLoad {
      text-align: center;
      padding-top: 200px;
      padding-left: 300px;
  }